body {
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  h1 {
    color: #ffffff;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 3rem;
    text-align: center;
    text-shadow: -2px -2px 10px #ffffff, 2px 2px 10px #ffffff, 0 0 20px tomato,
      0 0 40px tomato, 0 0 60px tomato;
      padding-top: 250px;
  }
  